html, body {
    background-color: #333;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh + env(safe-area-inset-bottom));
    overflow: hidden;
}

#canvas {
    object-fit: cover;
}