html, body {
    background-color: #333;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Take full height of the viewport */
    width: 100vw; /* Take full width of the viewport */
}

#canvas {
    object-fit: cover;

}